#strategy_menu_popup #strategy_menu_popup_accordion .greeting-option .upload-container > input[type="text"] {
    margin: 0px -1px 0px 0px;
    width: auto;
    box-shadow: none;
    border-radius: 2px 0px 0px 2px;
    flex-grow: 1;
    padding: 10px;
}
#strategy_menu_popup #strategy_menu_popup_accordion .greeting-option .upload-container > button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 170px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
}