<div id="feature_codes_container">
	<div class="feature-codes-header">
		{{i18n.featureCodes.title}}
	</div>
<!----	
	<div class="feature-codes-content">
	 {{#each featureCodes}}
			<div class="feature-codes-category">
				<div class="category-header">{{label}}</div>
				<div class="category-content">
					{{#each items}}
					<div class="feature-code-line">
						<div class="feature-code-label">
							{{label}}
						{{#if tooltip}}
							<i class="fa fa-question-circle" data-toggle="tooltip" title="{{tooltip}}"></i>
						{{/if}}
						</div>
						<div class="feature-code">
							<div class="code-prefix">{{#if hasStar}}*{{/if}}</div>
							<div class="code-number">{{number}}</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		{{else}}
		<div class="no-feature-codes">
			<div class="message">{{i18n.featureCodes.noFeatureCodeMessage}}</div>
			<a class="main-number-link">{{i18n.featureCodes.mainNumberLink}}</a>
		</div>
		{{/each}}

	
	</div>
-->

<div class="feature-codes-content">

    <div class="feature-codes-category">
        <div class="category-header">Deviation d'appels</div>
        <div class="category-content">          
            <div class="feature-code-line">
                <div class="feature-code-label">
                    Activer
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">72</div>
                </div>
            </div>
            
            <div class="feature-code-line">
                <div class="feature-code-label">
                    Désactiver
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">73</div>
                </div>
            </div>

            <div class="feature-code-line">
                <div class="feature-code-label">
                    Basculer
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">74</div>
                </div>
            </div>

        </div>
    </div>


    <div class="feature-codes-category">
        <div class="category-header">Hot-Desking</div>
        <div class="category-content">          
            <div class="feature-code-line">
                <div class="feature-code-label">
                   Se connecter
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">11</div>
                </div>
            </div>
            
            <div class="feature-code-line">
                <div class="feature-code-label">
					Se déconnecter
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">12</div>
                </div>
            </div>

            <div class="feature-code-line">
                <div class="feature-code-label">
                    Basculer
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">13</div>
                </div>
            </div>

        </div>
    </div>

    <div class="feature-codes-category">
        <div class="category-header">Divers</div>
        <div class="category-content">          
            <div class="feature-code-line">
                <div class="feature-code-label">
                   Intercepter
                </div>
                <div class="feature-code">
                    <div class="code-prefix">**</div>
                    <div class="code-number"></div>
                </div>
            </div>
            
            <div class="feature-code-line">
                <div class="feature-code-label">
                    Interception dirigée
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">87</div>
                </div>
            </div>

            <div class="feature-code-line">
                <div class="feature-code-label">
                   Appeler en anonyme
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">67</div>
                </div>
            </div>

			<div class="feature-code-line">
                <div class="feature-code-label">
                   Messagerie Vocale
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">97</div>
                </div>
            </div>


        </div>
    </div>

    <div class="feature-codes-category">
        <div class="category-header">Transfert d'appel</div>
        <div class="category-content">          
            <div class="feature-code-line">
                <div class="feature-code-label">
					call_forward[action=activate]
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">72</div>
                </div>
            </div>
            
            <div class="feature-code-line">
                <div class="feature-code-label">
					Call_forward[action=deactivate]
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">73</div>
                </div>
            </div>

            <div class="feature-code-line">
                <div class="feature-code-label">
                    Call_forward[action=toggle]
                </div>
                <div class="feature-code">
                    <div class="code-prefix">*</div>
                    <div class="code-number">74</div>
                </div>
            </div>

        </div>
    </div>

</div>	




</div>
